@charset "UTF-8";

.content{
  height: 500px;
}
.background3{
  background-size: cover;
}
.background4{
  background-size: contain;
}
.background1,.background2,.background3,.background4{
  background-image: url("../../image/coffee-background.jpg");
}
.background2,.background3,.background4{
  background-repeat: no-repeat;
}
.background3,.background4{
  background-position: center;
}