@charset "UTF-8";

.box{
  width: 500px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}
.box::before,.box::after{
  position: absolute;
  content: "";
  left: 30px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.box::before{
  bottom: -25px;
  border-top: 20px solid #8f5a0a;
}
.box::after{
  bottom: -18px;
  border-top: 20px solid #fad296;
}
